/*
 * Default Theme
 * Uses blue as the primary color
 */

:root {
  --color-primary-100: var(--blue-100);
  --color-primary-200: var(--blue-200);
  --color-primary-300: var(--blue-300);
  --color-primary-400: var(--blue-400);
  --color-primary-500: var(--blue-500);
  --color-primary-600: var(--blue-600);
  --color-primary-700: var(--blue-700);
  --color-primary-800: var(--blue-800);
  --color-primary-900: var(--blue-900);
}
